{extend name="common:base"/}

{block name="title"}我要查件{/block}

{block name="css"}
    
{/block}

{block name="main"}
    <header>
        <span>快递服务</span>
    </header>
    <section class="g-search">
        <form action="{:url('express_search/doSearch')}" method="GET">
            <p class="tit">运单号查询</p>
            <div class="input"><input type="text" name="number" placeholder="请输入快递单号" required><svg class="lnr lnr-camera"><use xlink:href="#lnr-camera"></use></svg></div>
            <input class="submit" type="submit" value="查询">
        </form>
    </section>
    <footer>
        <img class="qrCode" src="__PUBLIC__/frontend/images/qrcode_for_gh_e51b9f65b263_430.jpg" alt="诚毅小助二维码">
        <span>关注我们</span>
    </footer>

{/block}

{block name="js"}    
  
{/block}