<!-- Data Tables -->
<link href="__PUBLIC__/backend/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/backend/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="__PUBLIC__/backend/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

<!-- Sweet Alert -->
<link href="__PUBLIC__/backend/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<style>
    body.DTTT_Print {
        background: #fff;

    }
    .DTTT_Print #page-wrapper {
        margin: 0;
        background:#fff;
    }

    button.DTTT_button, div.DTTT_button, a.DTTT_button {
        border: 1px solid #e7eaec;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }
    button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
        border: 1px solid #d2d2d2;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }

    .dataTables_filter label {
        margin-right: 5px;

    }
</style>