{extend name="public:base"/}
{block name="main"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>新增菜单</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('index/index')}">控制台</a>
            </li>
            <li>
                <a>系统管理</a>
            </li>
            <li>
                <a href="{:url('index')}">菜单列表</a>
            </li>
            <li class="active">
                <strong>新增菜单</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">

            <!-- 标题 -->
            <div class="ibox-title">
                <h5>新增菜单</h5>            
                <div class="ibox-tools">                    
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>             
                </div>
            </div>

            <!-- 内容 -->
            <div class="ibox-content">                

                <form class="form-horizontal" method="post" action="{:url('save')}">

                    <div class="form-group"><label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" placeholder="名称">
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">一级菜单</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="pid">
                                <option value="0">顶级菜单</option>
                                {if !empty($list)}
                                    {foreach $list as $item}
                                        <option value="{$item.id}">{$item.name}</option>
                                    {/foreach}
                                {/if}
                            </select>
                        </div>
                    </div>                 

                    <div class="form-group"><label class="col-sm-2 control-label">控制器</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="控制器,顶级菜单逗号分隔,子菜单单个" name="controller">
                        </div>
                    </div>
                    
                    <div class="form-group"><label class="col-sm-2 control-label">方法</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="action" placeholder="方法,顶级菜单不用填写">
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">图标</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="icon" placeholder="图标" >
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">URL</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="url" placeholder="url,顶级菜单不用填写">
                        </div>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="sort" placeholder="排序,数值越小越靠前,默认0">
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button class="btn btn-white btn-w-m" type="submit" onclick="javascript:history.go(-1);">返回</button>
                            <button class="btn btn-primary btn-w-m" type="submit">保存</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
</div>

{/block}