<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{block name="title"}诚毅小助{/block}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1,minimum-scale=1,maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__PUBLIC__/frontend/common/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="__PUBLIC__/frontend/common/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/frontend/css/style.css">
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <script>
        (function (window, document) {
            (function () {
                var viewportEl = document.querySelector('meta[name="viewport"]'),
                    hotcssEl = document.querySelector('meta[name="hotcss"]'),
                    dpr = window.devicePixelRatio || 1;
                if (hotcssEl) {
                    var hotcssCon = hotcssEl.getAttribute("content");
                    if (hotcssCon) {
                        var initialDpr = hotcssCon.match(/initial\-dpr=([\d\.]+)/);
                        if (initialDpr) {
                            dpr = parseFloat(initialDpr[1])
                        }
                    }
                }
                var scale = 1,
                    content = "width=device-width, initial-scale=" + scale + ", minimum-scale=" + scale +
                    ", maximum-scale=" + scale + ", user-scalable=no";
                if (viewportEl) {
                    viewportEl.setAttribute("content", content)
                } else {
                    viewportEl = document.createElement("meta");
                    viewportEl.setAttribute("name", "viewport");
                    viewportEl.setAttribute("content", content);
                    document.head.appendChild(viewportEl)
                }
            })();
            var hotcss = {};
            hotcss.px2rem = function (px, designWidth) {
                if (!designWidth) {
                    designWidth = parseInt(hotcss.designWidth, 10)
                }
                return parseInt(px, 10) * 187.5 / designWidth / 20
            };
            hotcss.mresize = function () {
                var innerWidth = window.innerWidth;
                if (!innerWidth) {
                    return false
                }
                document.documentElement.style.fontSize = (innerWidth * 20 / 187.5) + "px"
            };
            hotcss.mresize();
            window.addEventListener("resize", hotcss.mresize, false);
            window.addEventListener("load", hotcss.mresize, false);
            setTimeout(function () {
                hotcss.mresize()
            }, 300);
            window.hotcss = hotcss
        })(window, document);
    </script>

    <!-- 要添加的css区域 -->
    {block name="css"}{/block}

</head>

<body>

<!-- 主要内容 -->
{block name="main"}{/block}

<script src='__PUBLIC__/frontend/common/js/jquery-1.10.1.min.js'></script>
<!-- 要添加的js区域 -->
{block name="js"}{/block}

</body>
</html>